body {
  font-family: Roboto, sans-serif;
}

.fixed {
  position: fixed;
}

.wrapper {
  min-width: 375px;
  background-image: url(images/topcircles.png);
  background-color: #191765;
  background-repeat: no-repeat;
  background-size: contain;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

.container {
  width: 87.2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
  width: 22%;
  font-weight: 500;
  font-size: 18px;
}

.fa-bars {
  color: #fff;
  width: 33.33px;
  font-size: 25px;
}

.mobile-hidden-menu {
  display: none;
}

.mobile-ul {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 325px;
  height: 100vh;
  left: 10px;
  top: 10px;
  background-color: #191765;
  position: fixed;
  z-index: 999;
  background-image: url(./images/mobileMenu2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile-ul.active {
  display: flex;
}

#closeIcon {
  text-align: end;
  color: #fff;
  width: 33.33px;
  font-size: 25px;
  position: absolute;
  right: 20px;
}

.mobile-menu {
  display: flex;
  color: #edecff;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  padding-top: 60px;
}

.mobile-menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 250px;
  color: #edecff;
}

.arrows {
  color: #acb7c3;
}

h1 {
  width: 87.2%;
  color: #7d73fc;
  font-weight: 700;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  margin: 12px auto;
  animation: bounceIn 6s;
  animation-iteration-count: 3;
  animation-delay: 2s;
}

@keyframes bounceIn {
  0% {
    opacity: 1;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    opacity: 1;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bg-image {
  background-repeat: no-repeat;
  background-position: 20% 80%;
  width: 100%;
  height: 500px;
}

.headline h2 {
  width: 87.2%;
  color: #edecff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin: 12px auto;
}

.headline p {
  width: 87.2%;
  height: 170px;
  color: #c8c8d4;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 40px auto;
}

hr {
  width: 87.2%;
  background-color: #646369;
  border: none;
  height: 1px;
  margin: 24px auto;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.list-header {
  width: 29%;
  color: #7d73fc;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  padding-top: 38px;
}

.list {
  width: 20%;
  color: #f5f5ff;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.flex-icons {
  width: 87.2%;
}

.flex-icons ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 87.2%;
}

.flex-icons li a {
  color: #fff;
  width: 18px;
}

.work-popup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #191765;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 50;
  overflow-y: scroll;
}

.popup-div {
  position: relative;
  width: 80%;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.16);
  margin: 24px 0;
  row-gap: 15px;
}

.work-popup.open {
  display: flex;
}

.header-popup {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-popup {
  position: relative;
  width: 90%;
  font-size: 20px;
  line-height: 12px;
  color: #fff;
  text-transform: capitalize;
}

.closingIcon {
  color: #fff;
  font-weight: bold;
  font-size: large;
}

.project-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  row-gap: 10px;
}

.image-popup {
  width: 100%;
  position: relative;
  height: 60%;
}

.info-popup {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.info-popup p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

.info-popup ul {
  width: 100%;
  column-gap: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.list-popup {
  width: 25%;
  padding: 5px;
  border-right: 1px solid #646369;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-border {
  border-left: 1px solid #646369;
}

.popup-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 8%;
  width: 100%;
}

.popup-buttons button {
  width: 50%;
  height: 50px;
  background-color: #7d73fc;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 20px;
}

.popup-buttons button:hover {
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.works p {
  width: 100%;
  color: #dcdce8;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 24px auto;
  text-align: start;
}

.popup-buttons button a {
  margin-left: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.arrow {
  width: 15px;
  color: #c4c4c4;
}

.work-image {
  width: 47px;
  color: #c4c4c4;
  padding-left: 30px;
}

.work-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 40px 0;
}

.works-h2 {
  width: 67%;
  color: #7d73fc;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin: 24px;
}

.placeholder {
  width: 100%;
  margin: 48px auto;
}

.works h3 {
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: 24px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr 0.5fr 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 24px auto;
}

.grid-container .item1 {
  width: 32px;
  color: #fff;
  font-weight: 500;
}

.grid-container .item1.markup {
  margin-right: 5px;
}

.vl {
  width: 1px;
  height: 40px;
  background-color: #646369;
  border: none;
}

.btn {
  width: 89px;
  height: 48px;
  background-color: #9390ff;
  color: #fff;
  border: none;
  margin: 24px auto;
  font-size: 12px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0 50px rgba(125, 115, 252, 0.48);
  transform: translateY(-1px) scale(1.1);
}

.works-wrapper {
  background-image: url(images/portBG.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  width: 87.2%;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#conttitle {
  color: #9390ff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

#conttext {
  text-align: center;
  color: #f5f5ff;
  font-size: 16px;
  line-height: 24px;
  width: 85%;
}

form {
  display: flex;
  flex-direction: column;
  width: 85%;
}

textarea {
  resize: none;
}

input,
textarea {
  padding: 15px 16px;
  width: 85%;
  border: 1px solid #9490ff;
  margin-top: 24px;
}

#last-name {
  display: none;
}

form :last-child {
  align-self: center;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
  color: red;
}

#lastul {
  padding: 0;
}

.social {
  padding: 15px;
}

#mymail {
  color: #ebebff;
  font-size: 20px;
  margin-bottom: 27px;
}

.work-image-icons {
  display: none;
}

.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#lastbtn {
  width: 89px;
  height: 48px;
  background-color: #9390ff;
  color: #fff;
  border: none;
  margin: 24px auto;
  font-size: 12px;
  cursor: pointer;
}

#lastbtn:hover {
  box-shadow: 0 0 50px rgba(125, 115, 252, 0.48);
  transform: translateY(-1px) scale(1.1);
}

#pop-window {
  width: 327px;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  height: 837px;
}

#pop-window.active {
  display: flex;
}

@media (min-width: 600px) {
  .wrapper {
    background-image: none;
  }

  .works-wrapper {
    background-image: none;
  }

  .bgImage {
    background-image: url(images/circlesheader.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .bgimage2 {
    background-image: url(images/Group65.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .about-wrapper {
    width: 447px;
  }

  .headline {
    align-items: center;
  }

  .info-wrapper {
    justify-content: flex-start;
  }

  .flex-icons li a {
    margin-right: 20px;
  }

  .flex-icons ul {
    justify-content: center;
  }

  .flex-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
  }

  .work-image-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-images {
    display: none;
  }

  .works-h2 {
    width: 87.2%;
    margin: 24px auto;
  }

  #conttext {
    width: 70%;
    text-align: center;
  }

  #last-name {
    display: flex;
    margin-left: 3%;
  }

  .names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 89%;
  }

  .last-hr {
    width: 100%;
    margin: 24px auto;
  }

  #lastul {
    width: 400px;
  }

  #mymail {
    width: 300px;
  }

  .last {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  form {
    justify-content: center;
    align-items: center;
  }

  .popup-buttons {
    display: flex;
    flex-direction: row;
    width: 70%;
    column-gap: 50px;
  }
}

@media (min-width: 800px) {
  .mobile-hidden-menu {
    display: flex;
    padding-left: 32px;
    color: #fff;
  }

  #menu {
    display: none;
  }

  .mobile-hidden-menu:hover {
    text-decoration: underline;
  }

  .fab:hover {
    border-bottom: 1px solid #fff;
  }

  .fa-bars {
    display: none;
  }

  .fa-bars::before {
    display: none;
  }

  .nav-ul {
    display: flex;
  }

  .work-popup {
    background-image: url(images/circlesheader.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .info-popup {
    width: 60%;
  }
}

@media (min-width: 1120px) {
  .image-stories {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .stories {
    width: 55%;
    padding: 24px;
    height: max-content;
  }

  #first-img {
    width: 65%;
  }

  .placeholder {
    width: 70%;
    margin: 48px auto;
  }
}
