body {
  font-family: Roboto, sans-serif;
}

.wrapper {
  background-image: url(../images/topcircles.png);
  background-repeat: no-repeat;
  background-color: #191765;
  min-width: 375px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

.container {
  width: 87.2%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
  width: 22%;
  font-weight: 500;
  font-size: 18px;
}

.fa-bars {
  color: #fff;
  width: 33.33px;
  font-size: 25px;
}

h1 {
  width: 87.2%;
  color: #7d73fc;
  font-weight: 700;
  font-size: 35px;
  line-height: 72px;
  text-align: center;
  margin: 12px auto;
}

.headline h2 {
  width: 87.2%;
  color: #edecff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-top: 12px;
  margin: 12px auto;
}

.headline p {
  width: 87.2%;
  height: 170px;
  color: #c8c8d4;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 40px auto;
}

hr {
  width: 87.2%;
  background-color: #646369;
  border: none;
  height: 1px;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.list-header {
  width: 29%;
  color: #7d73fc;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  padding-top: 38px;
}

.list {
  width: 20%;
  color: #f5f5ff;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.flex-icons {
  width: 87.2%;
}

.flex-icons ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 98px 38px 98px;
}

.flex-icons li a {
  color: #fff;
  width: 18px;
}

.works img:first-child {
  width: 15px;
  color: #c4c4c4;
  margin-right: 20px;
}

.work-image {
  width: 27%;
  color: #c4c4c4;
}

.work-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.works h2 {
  width: 67%;
  color: #7d73fc;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin: 24px;
}

.placeholder {
  width: 87.2%;
  margin: 48px 24px;
}

.works h3 {
  width: 87.2%;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  margin: 24px;
}

.works p {
  width: 87.2%;
  color: #dcdce8;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 24px;
  text-align: start;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr 2fr 0.5fr 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin: 24px;
}

.grid-container .item1 {
  width: 32px;
  color: #fff;
  font-weight: 500;
}

.vl {
  width: 1px;
  height: 40px;
  background-color: #646369;
  border: none;
}

.btn {
  width: 89px;
  height: 48px;
  background-color: #7d73fc;
  color: #edecff;
  border: none;
  margin: 24px;
  font-size: 12px;
}

.btn:hover {
  box-shadow: 0 0 50px rgba(125, 115, 252, 0.48);
  transform: translateY(-0.25em);
}

.btn:active {
  background-color: #5e42d7;
}

.btn:disabled {
  background-color: #2a2b33;
}

.works-wrapper {
  background-image: url(../images/portBG.svg);
}

footer {
  width: 87.2%;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#conttitle {
  color: #9390ff;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
}

#conttext {
  text-align: center;
  color: #f5f5ff;
  font-size: 16px;
  line-height: 24px;
  width: 85%;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

input,
textarea {
  padding: 15px 16px;
  width: 85%;
  border: 1px solid #9490ff;
  margin-top: 24px;
}

form :last-child {
  align-self: center;
}

#lastul {
  padding: 0;
}

.social {
  padding: 15px;
}

#mymail {
  color: #ebebff;
  font-size: 20px;
  margin-bottom: 27px;
}

.work-image-icons {
  display: none;
}
@media (min-width: 550px) {
  .about-wrapper {
    width: 447px;
  }

  .headline {
		align-items: center;
}
  .info-wrapper {
    justify-content: flex-start;
  }  

  .flex-icons li a {
    margin-right: 20px;
  }

  .flex-icons ul {
    display: flex;
  }
  
  .flex-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .work-image-icons {
    display: flex;
    align-items: center;
  }

  .work-images {
    display: none;
  }
}
